[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    cob = checkout -b
[http]
    sslverify = true
[include]
    path = ~/.gituser
[github]
    user = Luukvdm
[includeIf "gitdir:~/code/school/"]
    path = ~/code/school/.gitconfig
[includeIf "gitdir:~/code/sue/"]
    path = ~/code/sue/.gitconfig
[core]
    editor = nvim
    excludesfile = ~/.gitignore
[web]
    browser = firefox
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d -u ~/.config/nvim/init.vim \"$LOCAL\" \"REMOTE\""
[credential]
    helper = store
[pull]
    rebase = false
[push]
    autoSetupRemote=true
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
