[submodule "nvim/.vim/bundle/Vundle.vim"]
    path = nvim/.vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim
[submodule "nvim/.vim/bundle/nerdtree"]
    path = nvim/.vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
[submodule "nvim/.vim/bundle/vim-polyglot"]
    path = nvim/.vim/bundle/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot
[submodule "nvim/.vim/bundle/deoplete"]
    path = nvim/.vim/bundle/deoplete
    url = https://github.com/Shougo/deoplete
[submodule "nvim/.vim/bundle/nvim-yarp"]
    path = nvim/.vim/bundle/nvim-yarp
    url = https://github.com/roxma/nvim-yarp
[submodule "nvim/.vim/bundle/vim-hug-neovim-rpc"]
    path = nvim/.vim/bundle/vim-hug-neovim-rpc
    url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "nvim/.vim/bundle/neosnippet.vim"]
    path = nvim/.vim/bundle/neosnippet.vim
    url = https://github.com/Shougo/neosnippet.vim
[submodule "nvim/.vim/bundle/neosnippet-snippets"]
    path = nvim/.vim/bundle/neosnippet-snippets
    url = https://github.com/Shougo/neosnippet-snippets





